/* починаючи з 320px */
 @media (320px <=width) {
  }
    .modalWater {
        max-width: 343px;
        width: 100%;
        height: auto;
        padding: 40px 20px;
    }
    
    .titleWaterModal {
        max-width: 248px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.0020em;
        color: var(--dark-blue);
        margin-bottom: 24px;
    }
    
    .subTitleWaterModal {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: var(--dark-blue);
        letter-spacing: -0.0016em;
        margin-bottom: 20px;
    }
  /* проміжок між 320px і 769рх */
  @media (width >=320px) and (width < 767px) {
  }
  /* починаючи з 768px */
  @media (768px <=width) {  
    .modalWater {
        max-width: 518px;
        padding: 40px;
    }
        
    .titleWaterModal {
        max-width: 347px;
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: -0.0028em;
        color: var(--dark-blue);
        margin-bottom: 24px;
    }
        
    .subTitleWaterModal {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3;
        color: var(--dark-blue);
        letter-spacing: -0.0018em;
    }
  }
  /* проміжок між 769рх і 1440рх */
  @media (width >=768px) and (width < 1440px) {   
  }

  /* починаючи з 1440рх */
  @media (width >=1440px) {
  }
 
  