.title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.28em;
    letter-spacing: -1em;
    padding-bottom: 16px;
    color: var(--dark-blue);
}
.paragraf{
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 28px;
    line-height: 1.28em;
    padding-bottom: 28px;
}
.deleteModalBackground {
    background-color: var(--white);
    width: 344px;
    height: 267px;
    padding: 40px 14px;
    border-radius: 15px;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
    align-items: center;
}
.button-1 {
    width: 304px;
    height: 46px;
    border-radius: 30px;
    border: none;
    display: block;
    padding: 14px 129px;
    background-color: var(--accent);
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28em;
    text-align: center;
    cursor: pointer;
}
.button-2 {
    width: 304px;
    height: 46px;
    border-radius: 30px;
    padding: 14px 129px;
    background-color: var(--light-gray-transparent);
    color: var(--color-light-grey);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28em;
    text-align: center;
    text-align: center;
    cursor: pointer;
    border: none;
    display: block;
}
@media screen and (min-width: 768px) {
    .deleteModalBackground {
        width: 516px;
        height: 244px;
        padding: 40px;
    }
    .title{
        font-size: 28px;
        padding-bottom: 24px;
    }
    .buttons{
        flex-direction: row;
        gap: 10px;
    }
    .button-1{
        width: 170px;
        height: 60px;
        padding: 18px 67px;
        font-size: 16px;
        line-height: 1.5em;
    }
    .button-2{
        width: 170px;
        height: 60px;
        padding: 18px 67px;
        font-size: 16px;
        line-height: 1.5em;
    }
}