
@media (320px <=width) {}
/* .listWaterForm {


}

.listWaterForm {

} */

.spanFormWater {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.0014em;
    color: var(--dark);
    margin-bottom: 8px;
}

.addWaterForm {
 margin-bottom: 16px;
}

.timeWaterForm {
margin-bottom: 24px;
}

.enterWaterForm {
margin-bottom: 24px;
}
.inputAddWater {
    max-width: 88px;
    height: 40px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--white);
    background-color: var(--dark-blue);
    border-radius: 30px;
    padding: 11px 20px;
}

.inputWaterForm {
    max-width: 304px;
    height: 46px;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.0014em;
    border-radius: 15px;
    padding: 14px 16px;
}

.btnWaterForm {
    max-width: 116px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    border-radius: 30px;
    background-color: var(--accent);
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.0014em;
}

 @media (width >=320px) and (width < 767px) {}
    
        /* починаючи з 768px */
@media (768px <=width) {
}

  /* проміжок між 769рх і 1440рх */
  @media (width >=768px) and (width < 1440px) {}

  /* починаючи з 1440рх */
  @media (width >=1440px) {}