.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--accent);

    transition: background-color var(--animation);
}

.svg {
    stroke: var(--dark-blue);
    width: 30px;
    height: 30px;

    transition: stroke var(--animation);
}

.btn:hover .svg,
.btn:active .svg {
    stroke: var(--white);
}

.btn:hover,
.btn:active {
    background-color: var(--dark-blue);
}

.text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.01em;
}