.element {
  margin: 0;
  padding: 0;
  flex-basis: calc((100% - 108px) / 7);
  min-width: 27.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.number {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: var(--white);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.percentages {
  color: var(--dark);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
}

.number.notFull {
  background-color: #323f4733;
}
.number.active,
.number:hover {
  background: var(--dark-blue);
  color: var(--accent);
}

@media (min-width: 768px) {
  .element {
    flex-basis: calc((100% - 336px) / 8);
    gap: 4px;
  }
  .number {
    font-size: 16px;
    line-height: 24px;
  }
  .percentages {
    font-size: 12px;
    line-height: 22.4px;
  }
}
@media (min-width: 1440px) {
  .element {
    flex-basis: calc((100% - 301px) / 8);
  }
}
