.btnForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1440px) {
    .welcomPadding {
        padding-bottom: 20px;
    }

    .form {
        margin-bottom: 30px;
    }

    .btnForm {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .glg {
        margin-bottom: 0;
    }
}