.errorPage404 {
    position: relative;
    height: 100vh;
    background-color: var(--accent-secondary);
    color: var(--white);
}

.positionCat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.titlePage {
    text-align: center;
    font-size: 150px;
    line-height: 0.8;
    margin-bottom: 20px;
}

.message {
    text-align: center;
}

.cat {
    margin: auto;
}

.ear,
.eye {
    background-color: var(--white);
}

.ears {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1vh 0.5vh;
    z-index: 1;
}

.ear {
    height: 14vh;
    width: 10vh;
    border-radius: 40% 70% 10% 10% / 100% 100% 10% 10%;
    position: relative;
}

.ear.leftSide {
    transform: rotateZ(15deg);
}

.ear.rightSide {
    transform: rotateY(180deg) rotateZ(15deg);
}

.ear:after,
.ear:before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--accent-secondary);
    bottom: 0;
    right: 70%;
    border-radius: 50%;
}

.ear:after {
    height: 40%;
    transform: rotate(15deg);
}

.ear:before {
    height: 35%;
    transform: rotate(-15deg);
}

.face {
    position: relative;
    background-color: var(--accent-secondary);
    border-radius: 100% 100% 0 0;
    margin: -8vh auto 0;
    padding: 8vh 0 6vh;
    width: 90%;
}

.catEyes {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.eye {
    width: 10vh;
    height: 8vh;
    border-radius: 70%;
    position: relative;
}

.eye:before {
    content: "";
    position: absolute;
    height: 50%;
    left: -2vh;
    right: -2vh;
    background-color: var(--accent-secondary);
    border-radius: 0 0 35% 35%;
    z-index: 2;
    animation: eyes 5s ease infinite;
}

.eye:after {
    content: "";
    width: 10%;
    height: 15%;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 40%;
}

.eye.leftSide:after {
    right: -5%;
}

.eye.rightSide:after {
    left: -5%;
}

.eyePupil {
    background-color: var(--accent-secondary);
    width: 30%;
    left: 35%;
    position: absolute;
    height: 50%;
    border-radius: 50%;
    top: 25%;
}

.eyePupil:after {
    content: "";
    background-color: var(--white);
    width: 20%;
    left: 20%;
    position: absolute;
    height: 50%;
    border-radius: 50%;
    top: 25%;
}

.nose {
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    background-color: var(--white);
    width: 4vh;
    height: 2vh;
    margin: auto;
}

@keyframes eyes {
    0%, 5%, 100% {
        height: 50%;
    }

    2% {
        height: 110%;
    }
}

@media (max-width: 375.99px) {
    .message {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .cat {
        width: 200px;
    }
}

@media (min-width: 376px) and (max-width: 768.98px) {
    .titlePage {
        font-size: 200px;
    }

    .message {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .cat {
        width: 230px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .titlePage {
        font-size: 250px;
    }

    .message {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .cat {
        width: 280px;
    }
}

@media (min-width: 1441px) {
    .titlePage {
        font-size: 300px;
    }

    .message {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .cat {
        width: 300px;
    }
}